img{
    width: 300px;
    height: 200px;
      padding-left: 550px;
      padding-right: 550px;
      padding-top: 50px;
      padding-bottom: 50px;
}
p{
    text-align: center;
    font-size: 20px;
   
}